* {
    margin: 0;
    padding: 0;
}

/* Reused Styling [AboutMe,Resume,*/

@keyframes enterLeft{
    from{transform: translateX(-100%);}
    to {transform:translateX(0%)}
}

a{
    color:black;
    text-decoration: none;
}

h2{
    margin: 7px;
}
.boxContainer{
    min-height: 75vh;
    display: flex;
    /* flex-wrap: wrap; */
}

.boxLeft{
    align-self: center;
    /* border:5px solid green; */
}

.boxRight{
    /* border:5px solid orange; */
    justify-content:space-around;
    align-content: center;
    align-self: center;
    width: 100vw;

}

/* About Me Styling */
#profilePicture{
    margin: 0 0 0 3rem;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    align-self: center;

}

.about-title{
    font-family: Bangers;
    font-size:3rem;
}

.about-me-text{
    padding-bottom: 2rem;
    margin:2rem;
    font-size: larger;
    

}

@media only screen and (max-width: 1000px) {
    #profilePicture{
        height:200px;
        width:200px;
        margin:0;
    }
    .boxContainer{
        min-height: 0px;
        flex-wrap: wrap;
    }
    .boxLeft{
        width:100vw;

    }
        .download-link{
            font-size: 2rem !important;
            
        }
}

#profilePicture:hover{
    filter: grayscale(.6);
}

/* Resume Styling */

.download-box{
    display:flex;
flex-direction: column;
    align-content:center;
    justify-content: center;
    /* border:5px solid black; */
}

.headline{
    color:black
}

.download-container{
    border: 1px solid brown;
    border-radius: 5% 5%;
    justify-self: flex-end;
    display: inline;
}

.download-link{
    font-size: 3rem;
    color: darkblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}


/* Contact Me Styling */

button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem 0rem 1rem;
    border-radius: .5rem;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: aqua;
}
button:hover {
    opacity: .8;
}

button[disabled] {
    cursor: default;
    opacity: .8;
}
input {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid gray;
    outline: none;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}
input:focus {
    border: 1px solid darkgray;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
}

#email-input{
    padding: .5em;
}

/* Projects Page Styling */

.project-container{
    display: flex;
    flex-wrap: wrap;
    /* max-height: 1200px; */
    flex-direction: row;
}
.project-card{
    border: 3px solid black;
    background-color: lightblue;
    border-radius: 9%;
    min-height: 500px;
    min-width: 350px;
    max-width: 400px;
    margin: 2rem 2rem 2rem 2rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-shadow: 7px;
}
.thumb-container{
    position: relative; 

}

#project-thumb{
    border-radius: 7%;
}

.project-title{
    font-size: 2rem;
}
.project-description{
    padding:.5rem 2rem .5rem 2rem;
}
.tech-icons{
    font-size: 3.5rem;
    padding:1rem 1rem 1rem 1rem;
}
.tech-title{
    font-weight: bold;
}
.ext-links:hover{
    color:blue;
}
#project-2{
    background-color: rgb(43, 244, 203);
}
#project-3{
    background-color:lightsalmon;
}
#project-4{
    background-color:pink
}