:root {
  --blue: #23B5D3;
  --green: #9EE943;
  --slate: #DAF7DC;
  --gray: #6C6EA0;
  --black: #101419;
}

@font-face {
  font-family: Bangers;
  src: url('./fonts/Bangers-Regular.ttf');
  font-weight:lighter;
}
@font-face {
  font-family: RockSalt;
  src: url('./fonts/RockSalt-Regular.ttf');
}
@font-face {
  font-family: Wigglye;
  src: url('./fonts/Wigglye.ttf');
}
@font-face {
  font-family: Lora;
  src: url('./fonts/Lora.ttf');
}
@font-face {
  font-family: Lora-Italic;
  src: url('./fonts/Lora-Italic.ttf');
}

@font-face {
  font-family: Lemon-Milk-Light;
  src: url('./fonts/LEMONMILK-Light.otf');
}
@font-face {
  font-family: Lemon-Milk-Medium;
  src: url('./fonts/LEMONMILK-Medium.otf');
}
@font-face {
  font-family: Couture-Italic;
  src: url('./fonts/couture-bldit.otf');
}

@font-face {
  font-family: Restroking;
  src: url('./fonts/Retroking.ttf')
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.slide-appear{
  transform:translateX(100%);
  opacity: .01;
}
.slide-appear.slide-appear.active{
  transform:translateY(0);
  opacity:1;
  transition: transform 500ms ease,opacity 500ms ease;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--slate);
}

.App-link {
  color: var(--blue);
}


/* end of default styling */

